.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 50;
  background: rgba(0, 0, 0, 0.75);
}

.alert-box {
  position: fixed;
  width: 60vw;
  left: 20vw;
  padding: 20px;
  top: 20vh;
  z-index: 100;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
