<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="signUpForm" (ngSubmit)='onSubmit()'>
                <div formGroupName="userData">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" formControlName="username">
                        <span class="help-block"
                            *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched">Please
                            enter
                            valid username</span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <span class="help-block"
                            *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched">Please
                            enter valid
                            Email</span>
                    </div>
                </div>

                <div *ngFor="let gender of genders">
                    <label>
                        <input type="radio" name="gender" [value]="gender" formControlName="gender" />{{gender}}
                    </label>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>


            </form>
        </div>
    </div>
</div>